@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* font-family: 'Rubik', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.wrap {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80%;
    border: 3px black solid;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    /* justify-content: center; */
    align-items: center;
}

img {
    margin: 30px;
}

input {
    
    color: #432000;
    border: none;
    border-radius: 12px;
    padding: 15px 25px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    background-color: #DCE1EB;
    margin-bottom: 10px;
   
}

button {
    border: none;
    border-radius: 12px;
    padding: 15px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    color: #FDFDFD;
    background-color: #AC485A;  
}

#shopping-list {
    width: 100%;
    text-align: left;
    padding: 20px 30px;
}